name: build-windows
on:
  push:
    tags: ['v*.*.*']

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt pyinstaller

      - name: Build exe (with/without icon)
        shell: pwsh
        run: |
          if (Test-Path "assets\icon.ico") {
            pyinstaller -F -w -i assets\icon.ico run.py -n AntmarComicCollector
          } else {
            pyinstaller -F -w run.py -n AntmarComicCollector
          }

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/AntmarComicCollector.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
